{% extends "normal_page.html" %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript" src="{% static 'calculator.js' %}"></script>
<div class="calculator">
    <input class="calculator-argument-1" type="text">
    <input class="calculator-argument-2" type="text">
    <br>
    <button class="calculator-operation calculator-operation-addition">+</button>
    <button class="calculator-operation calculator-operation-substraction">-</button>
    <button class="calculator-operation calculator-operation-multiplication">*</button>
    <button class="calculator-operation calculator-operation-division">/</button>
    <br>
    <input class="calculator-result" type="text">
</div>
{% endblock content %}
