{% load staticfiles %}
<div class="color-changer">
    <script src="{% static 'color_changer.js' %}"></script>
    <button class="color-changer__button background-red"></button>
    <button class="color-changer__button background-blue"></button>
    <button class="color-changer__button background-green"></button>
    <button class="color-changer__button background-random"></button>
</div>
