<div class="wrapper-header-register">
    {% if request.user.is_authenticated %}
        Hi, {{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst}} !
    <a href="{% url "logout_url" %}">
        log out
    </a>
        {% if request.user.editor %}
            <a href="{% url "editor_profile_url" %}">Editor's profile</a>
        {% endif %}
    {% else %}
    <a href="{% url "login_url" %}">
        log in
    </a>
    <a href="{% url "register_url" %}">
        register
    </a>
    {% endif %}
</div>
<div class="wrapper-header-title">
    your site.com
</div>
