{% extends "normal_page.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">
{{ block.super }}
{% endblock includes %}

{% block content %}
<h2>Welcome</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
</p>
<div class="slick-slider">
    <img src="{% static 'images/flight_over_the_country.jpg' %}">
    <img src="{% static 'images/p2.jpg' %}">
    <img src="{% static 'images/author.jpg' %}">
</div>
<h2>Lorem ipsum</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
</p>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('.slick-slider').slick({
        "dots": true,
    });
});
</script>
{% endblock content %}
