{% extends "normal_page.html" %}

{% block content %}
    <h2>Log in</h2>
    <form action="{% url "login_url" %}?next={{ request.META.HTTP_REFERER }}" method="POST">{% csrf_token %}
        <label for="login">login:</label>
        <input type="text" name="{{ form.login.name }}" placeholder="login" id="login"></input><br>
        {{ form.errors.login|default_if_none:''}} <br>

        <label for="password">password:</label>
        <input type="password" name="{{ form.password.name }}" placeholder="password" id="password"></input><br>
        {{ form.errors.password|default_if_none:''}} <br>

        <input type="submit" value="Log in"></input>
        <div class="login_error">{{ form.non_field_errors }}</div>
    </form>
{% endblock content %}
