{% extends "normal_page.html" %}

{% block content %}
{% for news_item in news %}
<div class="content-item {% cycle 'background-white' 'background-grey' %}">
    <h2><a href="{% url "news_item_url" news_item.slug %}">{{ news_item.name }}</a></h2>
    <div class="content-item-info">
        <div class="content-item-info-date"> date of creation: {{ news_item.date_of_creating|date:"j/n/Y" }} </div>
    </div>
    <p>
        {{ news_item.short_content|slice:":50"|add:"..." }}
    </p>
</div>
{% endfor %}
{% endblock content %}
