{% extends "normal_page.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
<script type="text/javascript" src="{% static 'verificator.js' %}"></script>
{% endblock includes %}

{% block header %}
<div class="header-news-title">
    {{ news_item.name }}
</div>
{{ block.super }}
{% endblock header %}

{% block content %}
<h2>{{ news_item.name|upper }}</h2>
<div class="content-info">
    <div class="content-info-date"> date of creation: {{ news_item.date_of_creating|date:"j/n/Y" }} </div>
</div>
<div class="news-content">
    {% autoescape off %}
        {{ news_item.content }}
    {% endautoescape %}
</div>
<div class="news-comment">
    <form class="news-comment-form" action="javascript:void(null);" method="POST" >{% csrf_token %}
        <div>
            <input class="comment-author-name" type="text" name="{{ comments_form.username.name }}" placeholder="Имя" value="{{ comments_form.username.value|default_if_none:'' }}">
            {{ comments_form.errors.username|default_if_none:''}}
        </div>

        <div>
            <textarea oninput="recheckFieldByName('Content', getCommentFormFields)" id="comment-content" name="{{ comments_form.text.name }}" placeholder="текст">{{ comments_form.text.value|default_if_none:'' }}</textarea>
            {{ comments_form.errors.text|default_if_none:''}}
        </div>

        <div>
            <input oninput="recheckFieldByName('Phone', getCommentFormFields)" id="comment-author-phone" type="text" name="{{ comments_form.phone.name }}" placeholder="Телефон" value="{{ comments_form.phone.value|default_if_none:'' }}">
        </div>
            {{ comments_form.errors.phone|default_if_none:''}}

        <div>
            <input oninput="recheckFieldByName('Email', getCommentFormFields)" id="comment-author-email" name="{{ comments_form.email.name }}" placeholder="E-mail" value="{{ comments_form.email.value|default_if_none:''}}">
            {{ comments_form.errors.email|default_if_none:''}}
        </div>

        <input type="submit" value="Submit">
        <div class="submit-status"> {{ submit_status|default_if_none:'' }} </div>
        {{ comments_form.non_field_errors }}
    </form>
</div>
<div class="wrapper-content__about">views: {{ news_item.views }}</div>
<div class="wrapper-content__comments">
    {% for comment in comments %}
    <div class = "comment">
        {{ comment.user.username|default:'Anonimous'}}: {{ comment.text }}
    </div>
    {% endfor %}
</div>

<script type="text/javascript" src="{% static 'comment_loader.js' %}"></script>
<script type="text/javascript">
var generalNewsItemOptions = {
    createCommentUrl: "{% url 'create_comment_url' %}",
    getCommentsUrl: "{% url 'get_all_comments_url' %}",
    newsSlug: "{{ news_item.slug }}"
}

commentLoader(generalNewsItemOptions);
</script>
{% endblock content %}
