{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
    <link rel="stylesheet" href="{% static "style.css"%}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock includes %}

{% block header %}
    {% include "header.html" %}
    {% include "color_changer.html" %}
{% endblock header %}

{% block menu %}
<li><a href="{% url "site_url" %}">home</a></li>
<li><a href="#">about us</a></li>
<li><a href="{% url "site_news_url" %}">news</a></li>
<li><a href="#">contact us</a></li>
<li><a href="#">links</a></li>
<li><a href="{% url "profile_url"%}">profile</a></li>
{% endblock menu %}

{% block content %}
{% endblock content %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}
