{% extends "normal_page.html" %}
{% load staticfiles %}

{% block content %}
<form class="one-page-application clearfix">{% csrf_token %}
    <div class="news-list">
        <div class="news-list-header clearfix">
            <a href="#" class="news-list-header-item news-list-header-item__all-news">
                Все новости
            </a>
            <a href="#" class="news-list-header-item news-list-header-item__all-bookmarks">
                Закладки
            </a>
        </div>
        <div class="news-list-body">
        </div>
    </div>
    <div class="news-item">
        <div class="news-list-header news-list-header-light clearfix">
            <div class="news-list-header-item news-list-header-item__title">
            </div>
            <a href="#" class="news-list-header-item news-list-header-item__create-bookmark">
            </a>
        </div>
        <div class="news-item-body">
        </div>
    </div>
</form>
<script type="text/javascript" src="{% static 'news_loader.js' %}"></script>
<script type="text/javascript">
    var config = {
        getNewsTitlesUrl: "{% url 'get_news_titles_url' %}",
        getNewsItemUrl: "{% url 'get_news_item_url' %}",
        getBookmarksUrl: "{% url 'get_all_bookmarks_url' %}",
        createBookmarkUrl: "{% url 'create_bookmark_url' %}",
        deleteBookmarkUrl: "{% url 'delete_bookmark_url' %}"
    };

    newsLoader(config);
</script>
{% endblock content %}
