{% extends "normal_page.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
 <script type="text/javascript" src="{% static 'verificator.js' %}"></script>
{% endblock includes %}

{% block content%}
<div class="wrapper-content">
    <h2>Contact us</h2>
    <p>
        <form onsubmit="return verifyRegistrationForm(this)" method="POST" action="{% url "register_url" %}?next={{ request.META.HTTP_REFERER }}">{% csrf_token %}
            <div>
                <input oninput="recheckFieldByName('Username', getRegistrationFormFields)" id="registration-username" type="text" name="{{ form.username.name }}" placeholder="Имя" value="{{ form.username.value|default_if_none:'' }}">
                {{ form.errors.username|default_if_none:''}} <br>
            </div>

            <div>
                <input oninput="recheckFieldByName('Password', getRegistrationFormFields)" id="registration-password" type="password" name="{{ form.password.name }}" placeholder="Пароль" value="{{ form.password.value|default_if_none:'' }}">
                {{ form.errors.password|default_if_none:''}} <br>
            </div>

            <div>
                <input oninput="recheckFieldByName('Phone', getRegistrationFormFields)" id="registration-phone" type="text" name="{{ form.phone_number.name }}" placeholder="Телефон" value="{{ form.phone_number.value|default_if_none:'' }}">
                {{ form.errors.phone_number|default_if_none:''}} <br>
            </div>

            <div>
                <input oninput="recheckFieldByName('Email', getRegistrationFormFields)" id="registartion-email" type="text" name="{{ form.email.name }}" placeholder="E-mail" value="{{ form.email.value|default_if_none:''}}">
                {{ form.errors.email|default_if_none:''}} <br>
            </div>

            <input type="submit" value="Registration">
            {{ comments_form.non_field_errors }}
        </form>
    </p>
</div>
{% endblock content %}
