{% extends "normal_page.html" %}

{% block content %}
{% if request.user.is_authenticated %}
    <h2>{{ request.user.first_name }} {{ request.user.last_name }}'s profile:</h2>
    <p>
        time since registration: {{ request.user.date_joined|timesince:""}}
    </p>
    <p>
        news created: {{ request.user.news_set.count|default:"no news" }}
    </p>
    <p>
        comments created: {{ request.user.comments_set.count|default:"no comments" }}
    </p>
    <p>
        comments per day: {{ comments_per_day }}
    </p>
    <h2>
        News:
    </h2>
    {% for news_item in request.user.news_set.all %}
        <p>
            <a href="{{ news_item.get_absolute_url }}"> {{ forloop.counter }} {{ news_item.name }}</a>
        </p>
        {% empty %}
        <p>
            You have no news.
        </p>
    {% endfor %}
{% else %}
    You are not authorized. <a href="{% url "login_url" %}">Log in</a>.
    Or <a href="{% url "register_url" %}">register</a>.
{% endif %}
{% endblock content %}
