{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css"%}">

</head>

<body>
    <div class="wrapper block-center">
        <div class="wrapper-header">
            <div class="wrapper-header-title">
                your site.com
            </div>
        </div>

        <ul class="wrapper-menu">
            <li><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="localhost:8000/news">news</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">links</a></li>
        </ul>

        <div class="wrapper-content">
            <h2>Welcome</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
            </p>
            <h2>Lorem ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt, sapien iaculis pharetra ultrices, felis magna volutpat dolor, ac dapibus ex risus et magna. Praesent eu quam nec nibh sollicitudin viverra eu at felis. Fusce sem enim, consequat id diam quis, porttitor congue enim. Vestibulum quam diam, vehicula sit amet sagittis congue, pharetra eu tortor. Proin condimentum molestie varius. Ut eu quam euismod, congue massa vitae, pharetra dolor. Nulla at ex et quam facilisis egestas. In hendrerit magna at eros aliquam facilisiss
            </p>
        </div>

        <div class="wrapper-footer">
            Copyright &copy; 2005 | All Rights Reserved
        </div>
    </div>
</body>

</html>
