/* width: 1165 */

head, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/mountain.jpg");
    background-color: #99a0bb;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(225, 225, 225, 0.97);
}

.header {
    height: 140px;
    background-color: #fff;

    font-size: 20px;
}

.header-item {
    display: inline-block;

    width: 30%;
    height: 140px;
    line-height: 140px;
}

.header-item-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin: 60px 0;

    color: #a0a1a5;
}

.header-item-icon:hover {
    color: #0000cc;
}

.header-item-icon__left {
    float: left;
    margin-right: 34px;
}

.header-item-icon__left:last-child {
    margin-right: 0;
}

.header-item-icon__right {
    float: right;
    margin-left: 34px;
}

.header-item-icon__rigth:first-child {
    margin-left: 0;
}

.header-media {
    float: left;
    text-align: left;

    color: #a0a1a5;
    letter-spacing: 35px;
}

.header-title {
    font-family: monospace;
    font-weight: bolder;
    text-transform: uppercase;
}

.header-item__text-white {
    color: #f5f5f5;
}

.header-menu {
    float: right;
    text-align: right;
}

/* galery */
.galery {
    margin-top: 65px;
}

.galery-row:first-child {
    margin-top: 0;
}

.galery-row {
    margin-top: 35px;
    clear: both;
}

.galery-item {
    position: relative;

    float: left;
    width: 255px;
    height: 255px;
    margin-right: 35px;

    border: 5px solid white;
    overflow: hidden;
}

.galery-item:last-child {
    float: right;

    margin-right: 0;
}

.galery-item-header {
    position: absolute;

    height: 62px;
    width: 100%;
    top: -62px;
    left: 0;

    background-color: #000;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    opacity: 0.0;

    transition-property: top, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.galery-item:hover .galery-item-header {
    top: 0;

    opacity: 0.5;
}

.galery-item-header-about {
    float: left;
    padding: 20px 0 23px 15px;

    vertical-align: middle;
}

.galery-item-header-about-title {
    text-transform: capitalize;
    font-weight: bold;
    overflow: hidden;
}

.galery-item-header-date {
    float: right;
    padding: 20px 15px 23px 0;
}

.galery-item-header-date-month {
    font-weight: bold;
}

.galery-item-footer {
    position: absolute;

    height: 65px;
    width: 100%;
    bottom: -65px;
    left: 0;
    float: right;

    background-color: #fff;
    opacity: 0.0;

    transition-property: bottom, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.galery-item:hover .galery-item-footer {
    bottom: 0;

    opacity: 0.9;
}

.galery-item-footer-icon {
    height: 65px;
    font-size: 13px;
    font-family: Arial;
    font-weight: bolder;
    color: #9f9e9c;
}

.galery-item-footer-icon a:hover {
    opacity: 0.7;
}

.galery-item-footer-likes {
    float: left;
    padding: 29px 19px 24px 10px;
}

.galery-item-footer-likes a {
    color: #e6618c;
    padding-right: 7px;
}

.galery-item-footer-comments {
    float: left;
    padding: 29px 19px 24px 10px;
}

.galery-item-footer-comments a {
    color: #e6618c;
    padding-right: 7px;
}

.galery-item-footer-zoom {
    float:right;
    padding: 29px 10px 24px 0;
}

.galery-item-footer-zoom a {
    color: #000;
}

/* abstract */
.abstract {
    border: 1px solid #d6d6d6;

    margin-top: 65px;
    background-color: #fff;
}

.abstract-text {
    width: 580px;

    margin: 74px auto;
}

.abstract-text h1 {
    margin: 0;
    margin-bottom: 30px;

    text-transform: capitalize;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.abstract-text p {
    margin-bottom: 45px;

    font-size: 13px;
    font-family: Arial;
    line-height: 2;
}

.metro-button {
    height: 45px;
    min-width: 193px;
    padding: 15px 23px;

    border-width: 0;
    background-color: #202020;
    color: #fff;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 13px;
}

.metro-button:hover {
    opacity: 0.7;
}


/* main */
.main {
    margin-top: 63px;
}

.news-feed {
    float: left;
}

.news-feed-item {
    border: 1px solid #d6d6d6;
    background-color: #fff;
    margin-bottom: 28px;

    width: 865px;
    height: 456px;
}

.news-feed-item:last-child {
    margin-bottom: 0;
}

.news-feed-item-content {
    float: left;
    height: 336px;
    width: 660px;
    margin: 50px 0 70px  30px;
}

.news-feed-item-content-header {
    clear: both;
    height: 30px;

    color: #999;
    font-family: Arial;
    font-size: 12px;
}

.news-feed-item-content-header-title {
    float: left;
    width: 265px;
    height: 100%;

    text-transform: capitalize;
    overflow: hidden;
}

.news-feed-item-content-header-date {
    float: left;
    width: 150px;
    height: 100%;

    overflow: hidden;
}

.news-feed-item-content-header-volume {
    float: right;
    height: 100%;
    width: 245px;

    overflow: hidden;
    text-align: right;
}

.news-feed-item-content-header-volume a {
    margin-left: 10px;
    color: #999;
}

.news-feed-item-content-body {
    height: 100%;
    overflow: hidden;
}

.news-feed-item-content-body-header {
    font-size: 21px;
    margin-bottom: 26px;

    text-transform: capitalize;
    font-family: Arial;
}

.news-feed-item-content-body-text {
    height: 100%;
}

.news-feed-item-content-body-text-illustration {
    width: 260px;
    margin-bottom: 10px;

    float: left;
}

.news-feed-item-content-body-text-illustration img {
    border: 5px solid #f0f0f0;
    width: 223px;
    height: 221px;
}

.news-feed-item-content-body-text-illustration-caption {
    margin-top: 17px;

    font-size: 11px;
    font-family: Arial;
    color: #656565;
}

.news-feed-item-content-body-text-paragraphs {
    font-family: Arial;
}

.news-feed-item-content-body-text-paragraphs {
    margin: 0;
    padding: 0;
}

.paragraph-abstract {
    font-size: 14px;
    color: #000;

    line-height: 1.5;
}

.paragraph-main-text {
    font-size: 12px;
    color: #666;

    line-height: 2;
    margin-top: 37px;
}

.news-feed-item-author {
    height: 100%;
    width: 150px;
    float: right;

    font-family: Arial;
}

.news-feed-item-author-inner {
    margin-top: 86px;
}

.news-feed-item-author-inner-position {
    font-size: 14px;
}

.news-feed-item-author-inner-name {
    margin-top: 5px;

    font-size: 10px;
    color: #e5608b;
}

.news-feed-item-author-inner-logo {
    position: relative;
}

.news-feed-item-author-inner-logo img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-top: 16px;
}

.news-feet-item-author-inner-logo-menu {
    position: absolute;
    width: 72px;
    height: 20px;
    top: 29px;
    left: 112px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.news-feed-item-author-inner-logo:hover .news-feet-item-author-inner-logo-menu {
    opacity: 1;
}

.news-feed-item-author-inner-logo-menu-arrow {
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.6);
    border-left: 0;
}

.news-feet-item-author-inner-logo-menu a {
    display: block;
    float: left;
    margin-left: 6px;
}

.news-feet-item-author-inner-logo-menu a i {
    color: rgba(255, 255, 255, 0.6);
    line-height: 20px;

}

.news-feet-item-author-inner-logo-menu i:hover {
    color: rgba(255, 255, 255, 1.0);
}

.news-feed-item-author-inner-social {
    margin-top: 39px;
}

.news-feed-item-author-inner-social a {
    color: #c8c8c8;
    text-decoration: none;
}

.news-feed-item-author-inner-social a {
    display: block;
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
}

.news-feed-item-author-inner-social a:first-child {
    margin-top: 0;
}

.news-feed-item-author-inner-social a:hover {
    color: red;
}

.bars {
    float: right;
}

.bars-item {
    width: 265px;
    height: 428px;
    margin-bottom: 28px;

    background-color: #fefefe;
    border: 1px solid #d6d6d6;
    overflow: hidden;
}

.bars-item-inner {
    margin-top: 46px;
}

.bars-item-inner h3 {
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 0;

    font-size: 14px;
}

.bars-item:last-child {
    margin-bottom: 0;
}

.bars-item-menu {
    margin: 39px 0 0 29px;
    padding: 0;
    list-style-type: none;

    font-size: 14px;
    font-family: Arial;
}

.bars-item-menu > li:before,
.bars-item-submenu > li:before {
    content: "";

    display: block;
    border: 5px solid transparent;
    border-right: 0;
    border-left-color: #c2c2c2;
    float: left;

    margin: 0 13px 20px 0;
}

.bars-item-menu > li {
    display: block;
    line-height: 10px;
    clear: both;
}

.bars-item-menu .posts-count {
    margin: 15px;
}

.bars-item-menu .posts-count  a {
    color: #e6618e;
}

.bars-item-submenu {
    margin-top: 20px;
    margin-left: 7px;
    padding: 0;
    list-style-type: none;
}

.bars-item-submenu > li {
    display: block;
    clear: both;
}

.bars-item-submenu > li > a {
    font-style: italic;
    text-transform: capitalize;
}

.bars-item-menu .bars-item-menu-active:before,
.bars-item-submenu .bars-item-menu-active:before {
    border: 5px solid transparent;
    border-bottom: 0;
    border-top-color: #000;
}

/* interest  */
.interest {
    margin-top: 54px;
}

.interest-contacts {
    width: 565px;
    height: 657px;
    float: left;

    background: #fff;
    font-family: Arial;
}

.interest-contacts-inner {
    margin: 50px 31px 0 31px;
}

.interest-contacts h3 {
    font-size: 20px;
    font-family: Arial;
    text-transform: capitalize;
}

.interest-contacts p {
    margin: 0;
    margin-top: 26px;
    line-height: 1.5;
}

.contact-form {
    display: block;
    margin: 0;
    margin-top: 28px;
}

.metro-form-style {
    border: 1px solid #d6d6d6;
    background-color: #f2f2f2;
    font-style: italic;
}

.contact-form input {
    padding: 17px 0 17px 30px;
    width: 264px;
    margin-bottom: 20px;
    font-size: 10px;
}

.contact-form-errors {
    margin-left: 30px;
    font-style: italic;
    font-size: 10px;
}

.contact-form-name-errors {
    color: #bfbfbf;
}

.contact-form-email-errors {
    color: #f1b95c;
}

.contact-form textarea {
    width: 501px;
    height: 241px;
    margin-bottom: 20px;
    padding: 17px 0 17px 30px;
    resize: none;
    font-size: 10px;
    font-style: italic;
}

.interest-random-post {
    width: 265px;
    height: 348px;
    margin-left: 35px;
    float: left;

    font-family: Arial;
    background: #fff;
}

.interest-random-post-inner {
    margin: 50px 30px 0 30px;
}

.random-post-header {
    text-transform: capitalize;
    font-size: 20px;
}

.random-post-image {
    margin-top: 19px;
    border: 5px solid #f0f0f0;
}

.random-post-caption {
    margin-top: 16px;
    font-size: 14px;
}

.interest-newsletter {
    height: 304px;
    width: 564px;
    margin-top: 30px;
    margin-left: 35px;
    float: left;

    background: #fff;
}

.newsletter-logo {
    margin-top: 51px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2;
}

.newsletter-title {
    margin-top: 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
}

.newsletter-form {
    margin-top: 35px;
}

.newsletter-email {
    display: block;
    margin: 0 auto;
    width: 385px;
    height: 45px;
    text-align: center;
}

.newsletter-subscribe {
    display: block;
    margin: 21px auto 0;
}

.footer {
    margin-top: 75px;

    background-color: #202020;
    font-size: 20px;
}

/* helpers */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.centered-text {
    text-align: center;
}

.main-centered-block {
    margin-right: auto;
    margin-left: auto;

    width: 1165px;
}
