html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

.wrapper {
    width: 640px;
    margin-top: 30px;
}

.wrapper-header {
    position: relative;
    background-image: url("header.jpg");
    height:250px;
}

.header-news-title {
    position: absolute;
    top: 10px;
    left: 10px;

    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px #333;
}


.wrapper-header-register {
    position: absolute;
    top: 10px;
    right: 20px;
}

.wrapper-header-register a {
    letter-spacing: 1.2;
    text-transform: uppercase;
    color: #333;
    margin-left: 10px;
    font-size: 10px;
}

.wrapper-header-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    margin-bottom: 6px;

    color: #eef5f5;
    font-size: 30px;

    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

/* color-changer */
.color-changer {
    position: absolute;
    left: 10px;
    bottom: 40px;
}

.color-changer__button {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-width: 0;
}

.color-changer__button:last-child {
    margin-right: 0;
}

.wrapper-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper-menu li {
    display: inline-block;
    vertical-align: top;
}

.wrapper-menu li:last-child  {
    padding-right: 0;
}

.wrapper-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;

    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.active-menu {
    background-color: #444;
}

.wrapper-menu li:hover a {
    background-color: #ccc;
}

.wrapper-content {
    padding: 10px 20px 10px 25px;

    background-color: #f3f3f3;
    color: #86758d;
    font-size: 12px;
}

.wrapper-content h1 {
    margin: 0;
    padding: 0;

    color: #5555aa;
    font-size: 25px;
    font-weight: bold;
}

.wrapper-content h2 {
    margin: 0;
    padding: 0;

    color: #667418;
    font-size: 25px;
    font-weight: lighter;
}

.wrapper-content h2 a {
    color: #667418;
    text-decoration: none;
}

.wrapper-content p {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.content-item {
    margin-top: 20px;
}

.background-white {
    background: #fdfdfd;
}

.background-grey {
    background: #dfdfdf;
}

.background-red {
    background: #caa;
}

.background-blue {
    background: #aac;
}

.background-green {
    background: #aca;
}

.background-random {
    background-color: #313131;
}


.wrapper-content p {
    margin-bottom: 0;
}

.wrapper-footer {
    color: #888;
    font-family: Times;
    font-size: 10px;
    padding: 10px 0 10px 10px;
    height: 40px;
}

.footer-copyright {
    float: left;
}

.footer-current-datetime {
    float: left;
    margin-left: 20px;
}

.footer-news-title {
    text-align: right;
}

.wrapper-content__about {
    text-align: right;
}

.wrapper-content__comments {
    margin: 0 solid #333;
    margin-top: 1px;
}

.wrapper-content__comments::before {
    display: block;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;

    font-size: 14px;
    content: "Комментарии";
}

.news-content {
    overflow: hidden;
}

.news-content img {
    width: 50%;
}

.news-comment {
    margin-top: 20px;
}

.comment {
    padding-left: 30px;
    margin-bottom: 10px;
}

.comment:last-child {
    margin-bottom: 0;
}

.block-center {
    margin: 0 auto;
}

.tops {
    background-color: #f3f3f3;
    padding: 10px 20px 10px 25px;
}

.top-the-best {
    width: 33%;
    float: left;
}

.top-the-newest {
    width: 33%;
    float: left;
}

.top-the-best {
    width: 33%;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* slick */

.slick-slider {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: #888;
}

/* slick */

/* one page application */

.one-page-application {
    background-color: #bfbfbf;
}

.news-list {
    width: 40%;
    float: left;
}

.news-item {
    width: 60%;
    float: right;
}

.news-list-header {
    background-color: #333;
}

.news-list-header-item {
    height: 40px;
    width: 50%;
    line-height: 40px;
    text-align: center;
    float: left;
    background-color: #333;
    color: #888;
    text-decoration: none;
    overflow: hidden;
}

a.news-list-header-item:hover {
    background-color: #222;
    color: #fff;
}

.news-list-header-light .news-list-header-item {
    background-color: #444;
}

.news-list-body {
    /*max-height: 360px;*/
    overflow-y: auto;
}

.news-item-body {
    padding: 10px;
    min-height: 340px;

    background-color: #bfbfbf;
    color: #313131;
    overflow: auto;
}

.news-item-body img {
    width: 66%;
}

.news-title {
    display: block;
    padding: 5px;
    border-bottom:1px solid #444;

    background-color: #545454;
    color: #eee;
    text-decoration: none;
}

.news-title:last-child {
    border-bottom-width: 0;
}

.news-title:hover {
    background-color: #444;
}

/* one page application */
