html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

.wrapper {
    width: 640px;
    margin-top: 30px;
}

.wrapper-header {
    position: relative;
    background-image: url("site_by_image/header.jpg");
    height:250px;
}

.wrapper-header-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    margin-bottom: 6px;

    color: #eef5f5;
    font-size: 30px;

    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.wrapper-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper-menu li {
    display: inline-block;
    vertical-align: top;
}

.wrapper-menu li:last-child  {
    padding-right: 0;
}

.wrapper-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;

    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.wrapper-menu li:hover a {
    background-color: #ccc;
}

.wrapper-content {
    min-height: 300px;
    padding: 10px 20px 10px 25px;

    background-color: #f3f3f3;
    color: #86758d;
    font-size: 12px;
}

.wrapper-content h2 {
    margin: 0;
    padding: 0;

    color: #667418;
    font-size: 25px;
    font-weight: lighter;
}

.wrapper-content p {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.wrapper-footer {
    color: #888;
    font-family: Times;
    font-size: 12px;
    padding: 10px 0 10px 10px;
    height: 40px;
}

.block-center {
    margin: 0 auto;
}
