{% extends "normal_page.html" %}
{% load staticfiles %}

{% block includes %}
{{ block.super }}
{{ form.media }}
{% endblock includes %}

{% block content %}
<form method="POST" action="{% url 'editor_profile_add_news_url' %}">{% csrf_token %}
    <div>News title:</div>
    {{ form.name }}<br>
    <div>Content:</div>
    {{ form.content }}<br>
    <input type="submit" value="Add news">
</form>
{% endblock content %}
