{% extends "normal_page.html" %}

{% block content %}
    <h3>Editor's profile</h3>
    <p>
        Login: {{ request.user.username }}
    </p>
    <h2>
        News:
    </h2>
    {% for news_item in news %}
        <p>
            <a href="{{ news_item.get_absolute_url }}"> {{ forloop.counter }} {{ news_item.name }}</a>
            <a href="{% url 'editor_profile_edit_news_url' news_item=news_item.slug %}">edit</a>
        </p>
    {% empty %}
        <p>
            You have no news.
        </p>
    {% endfor %}
    <div>
    {% if paginator.num_pages > 1 %}
        {% for page_number in paginator.page_range %}
            <a {% if page_number != page_obj.number %}
                    href="{% url 'editor_profile_page_url' page=page_number %}"
               {% endif %}>
                {{ page_number }}
            </a>
        {% endfor %}
    {% endif %}
    </div>
    <a href="{% url "editor_profile_add_news_url" %}">Add news</a>

{% endblock content %}
